*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.prof
*.swp
.cabal-sandbox/
.hpc
.hsenv
.stack-work/
TAGS
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*
/:memory
/stack.yaml
testdb
testdb-shm
testdb-wal
/front/devRoot

ghc.nix
