.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
    display:inline;
}
.close:hover {
    display:inline;
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.transparent {
    width: 100%;
    opacity:0.5;
}

.hCenteredOverlay {
    position: fixed;
    z-index: 10;
    bottom:0;
    left:0;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
}

.hCenteredBox {
    display: flex;
    flex-direction:row;
    justify-content: center;
    width: 100%;
}

.vCenteredBox {
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: 100%;
}

.navbar-nav {
    margin: 0;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.navbar-header {
    float: left;
}

.container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}
